@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a id="queue" class="btn btn-primary btn-lg">排队...</a></p>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        //学生信息
        var studentData = {};
        //当前轮询次数
        var num = 0;
        //最大轮询次数
        var max = 5;
        //轮询间隔(毫秒)
        var interval = 100;
        //是否已经开始排队
        var queueFlag = false;

        $("#queue").click(function () {
            if (!queueFlag) {
                queueFlag = true;
                moqQueueUp();
            } else {
                console.log('已经开始排队,请等待排队结束...');
            }
            
        });

        //模拟发起请求...
        function moqQueueUp() {
            //模拟用户数量
            var moqCount = 1;
            for (var i = 0; i < moqCount; i++) {
                studentData.StudentId = 'Student_' + i;
                queueUp(studentData);
            }
        }

        //发起请求，进行消息排队...
        function queueUp(studentData) {
            $.post('/home/QueueUp', studentData,
                function(result) {
                    if (result.success) {
                        console.log(result.msg);
                        //开始轮询...
                        num = 0;
                        setTimeout(incrementNum, interval);
                    }
                }
            );
        }

        //检查排队结果...
        function checkQueueUp(studentData) {
            $.post('/home/CheckQueueUp', studentData,
                function (result) {
                    console.log(`学生：${studentData.StudentId} 第${num}次轮询...`);
                    if (result.success) {
                        //停止轮询
                        console.log(result.msg);
                        num = max;
                    }
                }
            );
        }

        //轮询函数...
        function incrementNum() {
            num++;
            if (num < max) {
                checkQueueUp(studentData);
                setTimeout(arguments.callee, interval);
            } else {
                console.log('轮询完毕...');
            }
        }
       
    });
</script>